body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

h1 {
  color: #66BFBF;
  margin: 0;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;

}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #11999f;
  font-family: 'Montserrat', sans-serif;
}
p{
  line-height: 2;
}

hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 5%;
  margin: 100px auto;

}
a{
  color: #11999E;
  font-family: 'Merriweather', serif;
  margin: 10px 12px;
  text-decoration: none;

}
a:hover{
  color: #EAF6F6;
}
.bottom-container{
background-color: #66BFBF;
padding: 50px 0 20px;
}
.top {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}
.profile{
  margin: 100px 0;
}
.par{
  width: 30%;
  margin: auto;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}
.skill1{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.skill2{
  width: 25%;
  float: right;
  margin-left: 30px;
}

.top-cloud {
  position: absolute;
  right: 100px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}
.profile img {
  border-radius: 100%;
  width: 15%;
}
.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}
.copy{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
.btn {
	-moz-box-shadow:inset 0px 1px 0px 0px #54a3f7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #54a3f7;
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background-color:#11999E;
	-webkit-border-top-left-radius:3px;
	-moz-border-radius-topleft:3px;
	border-top-left-radius:3px;
	-webkit-border-top-right-radius:3px;
	-moz-border-radius-topright:3px;
	border-top-right-radius:3px;
	-webkit-border-bottom-right-radius:3px;
	-moz-border-radius-bottomright:3px;
	border-bottom-right-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-bottomleft:3px;
	border-bottom-left-radius:3px;
text-indent:0;
	border:1px solid #11999E;
	display:inline-block;
	color:#ffffff;
	font-family: 'Montserrat', sans-serif;
	font-size:20px;
	font-weight:bold;
	font-style:normal;
height:53px;
	line-height:53px;
width:200px;
	text-decoration:none;
	text-align:center;
	text-shadow:0 1px 0 #154682;
  margin-bottom: 20px;
}.btn:hover {
	background-color:#0061a7;
}
